.banner-wrap {
  background: url(../images/bg_banner_home.jpg) no-repeat center 0;
  height: 450px;
  background-size: cover;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

.wrapper h1 {
  padding-top: 70px;
  padding-left: 32px;
}

.wrapper a {
  background: url(../images/logo_2.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 362px;
  height: 100px;
}

.slideShow {
  width: 240px;
  height: 337px;
  position: absolute;
  right: 0;
  top: 60px;
}

.slideShow img {
  position: absolute;
}
